*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

img{
    width: 100%;
}

.header, .footer{
    color: white;
}

.container{
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col ul li{
    display: inline;
    padding-right: 15px;
}

.container .col  ul li a{
    text-decoration: none;
    color: currentColor;
}

/*HEADER*/
header.header{
    background-color: rgb(246, 74, 0);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 1;
}

.header .container{
    height: 80px;
}

.header .container .col{
    flex-basis: calc(100%/3);
}

.header .col .sex ul{
    list-style-type: none;
}

.header .col .logo{
    width: 100px;
    margin: 0 auto;
}

.header .col .item{
    text-align: right;
}

/*MAIN*/
main.main{
    padding: 130px 0 50px 0;
}

.main .container{
    flex-wrap: wrap;
    row-gap: 30px;
}

.container .card{
    flex-basis: calc((100% - 30px)/3);
}

.card .card-img{
    position: relative;
    height: 420px;
    background-size: cover;
    margin-bottom: 10px;
}

#img-1{
    background-image: url(../img/1.webp);
}
#img-1:hover{
   background-image: url(../img/1b.webp);
}

#img-2{
    background-image: url(../img/2.webp);
}
#img-2:hover{
   background-image: url(../img/2b.webp);
}

#img-3{
    background-image: url(../img/3.webp);
}
#img-3:hover{
   background-image: url(../img/3b.webp);
}

#img-4{
    background-image: url(../img/4.webp);
}
#img-4:hover{
   background-image: url(../img/4b.webp);
}

#img-5{
    background-image: url(../img/5.webp);
}
#img-5:hover{
   background-image: url(../img/5b.webp);
}

#img-6{
    background-image: url(../img/6.webp);
}
#img-6:hover{
   background-image: url(../img/6b.webp);
}

.card .card-text h6{
    font-size: 12px;
    font-weight: 600;
}

.card .card-text p{
    font-size: 10px;
}

.card .card-img .block-absolute{
    position: absolute;
    left: 0;
    bottom: 50px;
}
.card-img .block-absolute > *{
    padding: 0 7px;
    line-height: 20px;
    color: white;
    font-size: 10px;
}

.card .card-img .discount{
    background-color: red;
    display: inline-block;
}

.card .card-img .sostenibility{
    background-color: green;
    display: inline-block;

}

.card .card-img .hearts{
    background-color: white;
    position: absolute;
    right: 0px;
    top: 10px;
    padding: 10px;
}

.card .card-img .hearts:hover{
    font-size: 20px;
}

.card .card-text .price{
    color: red;
}

.card .card-text .price span{
    text-decoration: line-through;
    color: black;
}

/*FOOTER*/
footer.footer{
    background-color: rgb(29, 26, 24);
    height: 80px;
}

.footer .container{
    height: 80px;
}

.col .information ul li{
    font-size: 10px;
} 

.col .information p .titol{
    font-size: 20px;
}

.col .social{
    text-align: center
}

.social ul :last-child{
    padding: 0;
}

.col .social P{
    margin-bottom: 7px;
}